body
{
    font-size: 25px;
    text-align: center;
    background-image: linear-gradient(to right bottom , #67362D, #805448);
}

img{
  padding: 15px;
  width: 500px;
  height: 450px;
}


@font-face {
  font-family: TextFont;
  src: url(Fonts/Alegreya.ttf);
}
@font-face {
  font-family: HeadFont;
  src: url(Fonts/AbrilFatface-Regular.ttf);
}
h1
{
  font-family: TextFont;
  color: white;
}
h3{
  font-family: TextFont;
  color: white;
}
a{
    font-family: HeadFont;
    color: #FBDEC7;
}

a:hover{
  color: #AA7051;
}

#largeText {
    display: none; /* Initially hidden */
    font-size: 36px; /* Large text */
    color: #000000;
    margin-top: 20px;
}

button{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: rgb(199, 199, 199);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.topnav {

  position: relative;
  background-color: rgba(251, 222, 199);
  top: 30;
  left: 60;
  width: 95%;
  z-index: 1001;
}
  
.topnav #myLinks {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(251, 222, 199, 0.5);
  z-index: 1000;
}
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 20px 27px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    left: 15;
    top: 0;
  }

  .topnav a.icon:hover{
    padding-bottom: 28px;
    background-color: rgb(201, 175, 152);
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: black;
    background-color: rgb(201, 175, 152);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    font-size: 25px;
    color: black;
  }