body
{
  text-align: center;
  background-image: url('images/background_Tarik-removebg-preview.png');
  background-color: #67362D;
  background-repeat: no-repeat;
  background-position: left 75px top 1px;
  background-size: 2250px 950px;
}

@font-face {
  font-family: TextFont;
  src: url(Fonts/Alegreya.ttf);
}
@font-face {
  font-family: HeadFont;
  src: url(Fonts/AbrilFatface-Regular.ttf);
}

p
{
  font-family: TextFont;
  text-align: start;
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding-right: 800px;
  padding-left: 50px;
}

a{
  font-family: HeadFont;
    color: black;
    text-decoration: none;
}

.topnav {

  position: fixed;
  background-color: rgba(251, 222, 199);
  top: 30;
  left: 60;
  width: 35%;
  z-index: 1001;
}
  
.topnav #myLinks {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(251, 222, 199, 0.5);
  z-index: 1000;
}
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 20px 27px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    left: 15;
    top: 0;
  }
  
  .topnav a.icon:hover{
    padding-bottom: 28px;
    background-color: rgb(241, 214, 191);
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: black;
    background-color: rgba(251, 222, 199, 0.7);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    font-size: 25px;
    color: black;
  }